<!DOCTYPE html>
<html lang="en">
<head>
    <title>WEA Demonstration</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
        function updateScroll(){
            var element = document.getElementById("chat");
            element.scrollTop = element.scrollHeight;
        }
    </script>
    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/dist/styles/styles.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" onload=updateScroll()>
    <!-- Header -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand page-scroll" href="#page-top">Watson Vehicle Selector</a>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro/Start Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>What's Your Perfect Match?<br /><small>Let IBM Watson quickly pick the right BMW for you.</small></h1>
                    <br /><br />
                    <a id="init" class="blue-btn page-scroll" href="#watson-dialog">FIND OUT NOW</a>
                    <br />
                    <!-- smooth scroll to page: add .page-scroll class and set the link target to a corresponding ID -->
                    <img src="./dist/images/intro-bg.png" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- Watson Dialog Section -->
    <section id="watson-dialog" class="watson-dialog-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Watson Dialog Area</h1>

                    <div class="col-xs-12" style="height: 150px;"></div>
					
					<div id="chat">
					{% for post in posts %}
					<div class='{{post.style}}'>
						<div class='messages'>
							<p>{% autoescape false %}{{post.text}}{% endautoescape %}</p>
							<time datetime='{{post.datetime}}'>{{post.name}} • {{post.datetime}}</time>
						</div>
					</div>
					{% endfor %}
					
				</div>
                    <form action='.' method='POST' autocomplete="on">
                        <input autofocus id="response-input" name='response-input' type="text" placeholder="Start Typing Here.">
                    </form>

                    <div class="col-xs-12" style="height: 85px;"></div>

                    <a href="">
                        <img src="/dist/images/mic-outline.png" class="icon-btn" alt="">
                    </a>

                    <section class="faq">
                        <!--<h3>Form &#38; FAQ</h3>-->
                        <h3>The "side view mirror"</h3>
                        <div>{% autoescape false %}{{form}}{% endautoescape %}</div>
                    </section>          
                    <section class="tips">
                        <!--<h3>Tips</h3>-->
                        <h3> </h3>
                        <div>{% autoescape false %}{{tips}}{% endautoescape %}</div>
                    </section>

                </div>
            </div>
        </div>
    </section>

    <!-- Recommendations Section -->
    <section id="recommendation" class="recommendation-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Recommendation Section</h1>
                </div>
            </div>
        </div>
    </section>

    <footer>
      <div class="container">
        <div>IBM Watson Vehicle Selector</div>
      </div>
    </footer>

    <script src="/static/scripts/watson-speech.min.js"></script>
    <script>
        var ttsToken = "{{tts_token}}";
        var sttToken = "{{stt_token}}";
    //  records microphone input to
        function record() {
        //  $micButton.addClass('active');
            return WatsonSpeech.SpeechToText.recognizeMicrophone({
                token: sttToken,
            //  automatically stop at first pause
                continuous: false,
                outputElement: '#response-input',
            //  don't add capitalization and periods to the input text
                format: false
            //  if using ajax to submit audio, this makes firefox only ask for mic permission once
            //  keepMicrophone: navigator.userAgent.indexOf('Firefox') > 0
            })
            .promise()
            .then(function() {
                document.querySelector('form.chat--input').submit();
            })
            .catch(console.log);
        }
        var audio;
        function say(text) {
            if (audio) {
                audio.pause();
            }
            return new Promise(function(resolve, reject){
                audio = WatsonSpeech.TextToSpeech.synthesize({
                    text: text,
                    token: ttsToken,
                    voice: 'en-US_AllisonVoice'
                });
                audio.addEventListener('ended', resolve);
                audio.addEventListener('error', reject);
            });
        }
    //  control voice with a checkbox, remember it between pageviews
        var voiceCheckbox = document.querySelector('#voice');
    //  default to false, switch it to !== 'false' to default it to true
        voiceCheckbox.checked = localStorage.usevoice === 'true';
        function initVoice() {
            if (voiceCheckbox.checked) {
                say(document.querySelector('#what-to-say').textContent).then(record);
            } else if (audio) {
                audio.pause();
            }
            localStorage.usevoice = voiceCheckbox.checked;
        }
        voiceCheckbox.onclick = initVoice;
        initVoice();
    </script>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <!-- Bootstrap Core JavaScript CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="./dist/scripts/jquery.easing.min.js"></script>
    <script src="./dist/scripts/main.js"></script>

</body>

</html>
